[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "batchtma"]
	path = batchtma
	url = https://github.com/stopsack/batchtma
	shallow = true
	registered = true
